body {
	font-family: "Roboto", sans-serif;
	background-image: url(/images/TrainStationMSP.jpg);
	background-size: cover; /* Make sure the image covers the entire background */
	font-size: 16px;
	font-weight: bold;
	line-height: 1.5;
	color: #000000;
	text-align: center;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	max-width: 50%;
	margin: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	border: 3px solid #000000; /* Updated border color */
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.9); /* Added some opacity */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); /* Added shadow */
}

h1,
h2 {
	font-size: 2.5rem;
	font-weight: bold;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 0.5rem;
}

h2 {
	font-size: 2rem;
	color: #000000; /* Updated text color */
}

button {
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	font-weight: bold;
	line-height: 1.5;
	color: #ffffff;
	text-align: center;
	margin: 0;
	padding: 0.5rem 1rem; /* Added padding */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	border: none; /* Removed border */
	transition: all 0.3s; /* Added transition */
}

#increment-btn {
	background-color: #27ae60;
	cursor: pointer;
	border-radius: 0.25rem;
}

#increment-btn:hover {
	background-color: #2ecc71; /* Added hover effect */
}

#save-btn {
	background-color: #e74c3c;
	cursor: pointer;
	border-radius: 0.25rem;
}

#save-btn:hover {
	background-color: #c0392b; /* Added hover effect */
}

#save-el {
	font-weight: bold;
	font-size: 1.5rem;
}

#reset-btn {
	background-color: #f7af3b;
	cursor: pointer;
	border-radius: 0.25rem;
}

#reset-btn:hover {
	background-color: #d39400; /* Added hover effect */
}
